{{> head}}
{{> navbar}}

<div class="container">
    <div class="row">

        <div class="col-8">
            <h1>ABOUT</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam est debitis praesentium possimus vitae nobis adipisci in, explicabo, dicta natus numquam! Omnis commodi cupiditate consequuntur non delectus ratione! Aperiam, quidem.
            </p>
        </div>
        
        <div class="col-4">
            <img src="assets/img/hamster.jpg" class="img-thumbnail">
        </div>
    
    </div>
</div>


{{> footer}}